@import url('https://fonts.googleapis.com/css?family=Kanit&display=swap');

body {
    background: linear-gradient(90deg, #8000ff 0%, #c2c2c2 100%);
    font-family: "Kanit", serif;
}
p {
    color: rgb(255, 255, 255);
}
.navbar-nav .nav-link,
.navbar-brand {
    color: white;
}
.navbar-nav .nav-link.active {
    color: blueviolet;
}
.nav-link:hover{
    background-color: #878787;
    color: white;
}
.navbar-toggler{
    background-color: white;
}

.card {
    background: linear-gradient(0deg, #5200cc 0%, #ffffff 100%);
}
.card h5 {
    color:#00ffaa;
}

.right-panel {
    background-color: #313991;
}

.right-panel>p {
    padding: 10px;
    margin: 10px;
}

.slider-text {
    margin: auto auto;
}

footer {
    background-color: #1a1e4e;
}
.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}
.dialog {
    position: fixed;
    right: 0;
    bottom: 10px;
}